@charset 'UTF-8';

@media screen and (min-width: 768px) {
    section#login {
        width: 90vw;
        height: 360px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;

        border-radius: 0px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }

}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
        height: 100%;
    }

}