@charset 'UTF-8';

/* Paleta de cores 

    Azul: #008DFC
    Azul cinza: #A3C7EA
    

*/

:root {
    --cor0: #008DFC;
    --cor1: #A3C7EA;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    background: linear-gradient(to bottom, var(--cor1), var(--cor0));
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 575px;
    width: 300px;
    background-color: white;

    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%,-50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

div#imagem {
    width: 100%;
    height: 40%;
    background-image: url('../imagens/pato.jpg');
    background-size: cover;
    background-position: right;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div#formulario h1{
    margin: 10px;
    text-align: center;
}

div#formulario p {
    margin: 15px;
    text-align: center;
}

div#formulario p.campo {
    margin: 20px;
    height: 40px;
    background-color: var(--cor1);
}

span.material-symbols-outlined {
    color: black;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

div#formulario p.campo > input {
    font-size: 1em;
    width: calc(100% - 60px);
    height: 80%;
    border-radius: 5px;
    padding: 4px;
    border: none;
    transform: translateY(-11px);
}

div#formulario p.campo > label {
    display: none;
}

.botao {
    display: block;
    margin: auto;
    padding: 5px;
    width: 100%;

    font-size: 18px;

    background-color: var(--cor0);
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

a.botao {

    background-color: white;
    color: var(--cor0);

    text-decoration: none;
    border: 1px solid var(--cor0);
}